<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/create-player.css">
    <title>Create Player</title>
</head>
<body>

<h2>Create Player</h2><br><br>

<form action="/player/create" method="post">

    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="team">Team</label><br>
    <input type="text" id="team" name="team"><br><br>

    <label for="mouse">Mouse</label><br>
    <input type="text" id ="mouse" name ="mouse"><br><br>

    <label for ="dpi">DPI</label><br>
    <input type ="number" id ="dpi" name ="dpi"><br><br>

    <label for = "sensitivity"> Sensitivity </label><br>
    <input
            type = "number"
            step = "0.01"
            id = "sensitivity"
            name = "sensitivity"><br><br>
    <button type = "submit">Confirm & Create</button>
    <button
            type = "button"
            onclick =
            "
    window.location.href='/player';
    "
    >
        Cancel</button>


</form >

</body >

</html >
